@font-face {
  font-family: AvenirUltraThin;
  src: url("../assets/_Global_Font/AvenirNextProLT/Linotype - AvenirNextLTPro-UltLt.otf");
}

@font-face {
  font-family: AvenirThin;
  src: url("..assets/_Global_Font/AvenirNextProLT/Linotype - AvenirNextLTPro-Thin.otf");
}

@font-face {
  font-family: AvenirRegular;
  src: url("../assets/_Global_Font/AvenirNextProLT/Linotype - AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: AvenirMedium;
  src: url("../assets/_Global_Font/AvenirNextProLT/Linotype - AvenirNextLTPro-Medium.otf");
}

@font-face {
  font-family: AvenirLight;
  src: url("../assets/_Global_Font/AvenirNextProLT/Linotype - AvenirNextLTPro-Light.otf");
}

@font-face {
  font-family: AvenirThin;
  src: url("../assets/_Global_Font/AvenirNextProLT/Linotype - AvenirNextLTPro-Heavy.otf");
}

@font-face {
  font-family: AvenirDemi;
  src: url("../assets/_Global_Font/AvenirNextProLT/Linotype - AvenirNextLTPro-Demi.otf");
}

@font-face {
  font-family: AvenirBold;
  src: url("../assets/_Global_Font/AvenirNextProLT/Linotype - AvenirNextLTPro-Bold.otf");
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: "AvenirRegular", sans-serif;
  width: 100%;
  margin-right: 0px;
  overflow-x: hidden;
}

ul li {
  list-style: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #323232;
  width: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
  height: 80px;
  margin: 0;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
}

.header-logo {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px auto;
  -ms-flex-item-align: center;
      align-self: center;
  height: 20px;
  padding-top: 10px;
}

@media screen and (min-width: 768px) {
  .header-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 20%;
    margin-right: 0px;
    margin-left: 0px;
  }
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 0px;
}

@media screen and (min-width: 768px) {
  .header-nav {
    width: 70%;
    margin-left: 0px;
  }
}

.header__link,
.header__link:hover,
.header__link:visited {
  color: white;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 0px;
}

@media screen and (min-width: 768px) {
  .header__list {
    padding-left: 20px;
    padding-top: 20px;
  }
}

.header__item {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  text-align: center;
  padding-bottom: 40px;
  margin-bottom: 0px;
  padding-top: 16px;
}

@media screen and (min-width: 768px) {
  .header__item {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 15px;
    margin-right: 40px;
    width: 40%;
  }
}

.hero {
  background-image: url("./assets/Images/Hero-image.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 183px;
  width: 100%;
  height: 60vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .hero {
    height: 70vw;
  }
}

.hero-title {
  display: flexbox;
  font-family: "AvenirBold";
  color: #ffffff;
  padding-left: 16px;
  padding-right: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  font-size: 1.4rem;
  -ms-flex-item-align: center;
      align-self: center;
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 4em;
    width: 85%;
    padding-left: 24px;
    padding-right: 24px;
  }
}

.about {
  color: #323232;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 768px) {
  .about {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.heading-2 {
  font-family: "AvenirBold";
  font-size: 1.4rem;
  line-height: 32px;
  margin-top: 32px;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .heading-2 {
    font-size: 1.8em;
  }
}

.about-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-tagline {
  font-family: "AvenirMedium";
  font-size: 1.4rem;
  line-height: 22px;
  margin-top: 24px;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .about-tagline {
    font-family: "AvenirBold";
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    font-weight: 100;
    font-size: 1.4em;
    line-height: 32px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: 90%;
  }
}

.heading-3 {
  font-family: "AvenirBold";
  font-size: 1.4rem;
  line-height: 24px;
}

@media screen and (min-width: 768px) {
  .heading-3 {
    font-size: 1.3em;
  }
}

.about-tagline-author {
  font-family: "AvenirBold";
  font-size: 12px;
  line-height: 22px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .about-story {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.about-story__text {
  margin-top: 24px;
  margin-right: 0px;
  line-height: 22px;
}

@media screen and (min-width: 768px) {
  .about-story__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 0.89em;
  }
}

.about-story__text-2 {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .about-story__text-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 24px;
  }
}

.gallery {
  background-color: #fafafa;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 40px;
}

.gallery__image {
  padding-bottom: 16px;
}

.footer {
  background-color: #323232;
  color: #ffffff;
  padding-left: 16px;
  padding-right: 16px;
}

.booking__heading-4 {
  font-family: "AvenirRegular";
  font-size: 14px;
  line-height: 20px;
  font-weight: bolder;
}

.footer-logo {
  display: none;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 24px;
}

.social-link {
  width: inherit;
}

.social-menu {
  width: 30px;
}

.social-menu-fb {
  width: 20px;
}

.booking__text {
  padding-top: 24px;
}

.booking__text--bold {
  font-family: "AvenirDemi";
}

.booking-copyright {
  width: 90%;
  padding-top: 24px;
}
/*# sourceMappingURL=styles.css.map */