// EULA BENGCO SCSS FILE

@import "./partials/fonts";
@import "./partials/colors";
@import "./partials/variables";
@import "./partials/mixins";

// so that the border, padding, and margin takes up the width set on the screen
*,
*::before,
*::after {
  box-sizing: border-box;
}

//remove browser's margin, and padding settings, text global font is $black
*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: "AvenirRegular", sans-serif;
  width: 100%;
  margin-right: 0px;
  overflow-x: hidden;
}

ul {
  li {
    list-style: none;
  }
}

//HEADER
.header {
  display: flex;
  background-color: $black;
  width: auto;
  justify-content: center;
  flex-direction: column;
  width: auto;
  height: 80px;
  margin: 0;
  padding: 0;
  align-items: center;
  @include tablet {
    flex-direction: row;
    // @include reset-margin;
    justify-content: left;
    align-content: flex-start;
  }
}

.header-logo {
  box-sizing: content-box;
  display: flex;
  margin: 0px auto;
  align-self: center;
  height: 20px;
  padding-top: 10px;
  @include tablet {
    display: flex;
    width: 20%;
    margin-right: 0px;
    margin-left: 0px;
  }
}

.header-nav {
  display: flex;
  width: 100%;
  margin-top: 0px;
  @include tablet {
    width: 70%;
    margin-left: 0px;
  }
}

.header {
  &__list {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    margin-top: 0px;
    @include tablet {
      padding-left: 20px;
      padding-top: 20px;
    }
  }
  &__item {
    box-sizing: content-box;
    display: flex;
    width: 50%;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 0px;
    padding-top: $pixel-16;
    align-items: center;
    color: $silver;
    &--active {
      color: $white;
      border-bottom: 5px solid $white;
    }
    @include tablet {
      box-sizing: content-box;
      padding-right: 0px;
      padding-bottom: 20px;
      padding-top: 15px;
      margin-right: 100px;
      margin-left: 80px;
      width: 40%;
      padding-left: 0px;
    }
    &--active {
      // border-bottom: solid 5px $white;
      @include tablet {
        // border-bottom: solid 5px $white;
        // padding-right: inherit;
        // width: max-content;
      }
    }
  }
}

//HERO SECTION
.hero {
  background-image: url("./assets/Images/Hero-image.jpg");
  // transition: transform 0.5s ease;
  display: flex;
  min-height: 183px;
  width: 100%;
  height: 60vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include tablet {
    height: 70vw;
  }
}

.hero-title {
  display: flexbox;
  font-family: "AvenirBold";
  // font-size: 60px;
  // line-height: 68px;
  color: $white;
  @include mobile-padding;
  align-items: center;
  width: 70%;
  font-size: 1.4rem;
  align-self: center;

  @include tablet {
    font-size: 4em;
    width: 85%;
    @include tablet-padding;
  }
}

.about {
  color: $black;
  @include mobile-padding;
  @include tablet {
    @include tablet-padding;
  }
}

.heading-2 {
  font-family: "AvenirBold";
  font-size: 1.4rem;
  line-height: 32px;
  margin-top: $pixel-32;
  margin-bottom: $pixel-24;
  @include tablet {
    font-size: 1.8em;
  }
}

.about-image {
  display: flex;
}

.about-tagline {
  font-family: "AvenirMedium";
  font-size: 1.35rem;
  line-height: 20px;
  margin-top: $pixel-24;
  margin-bottom: $pixel-32;
  @include tablet {
    font-family: "AvenirBold";
    box-sizing: content-box;
    font-weight: 100;
    font-size: 1.4em;
    line-height: 32px;
    height: max-content;
    width: 90%;
  }
}

.heading-3 {
  font-family: "AvenirDemi";
  font-size: 1.08rem;
  line-height: 24px;
  @include tablet {
    font-size: 1.3em;
  }
}

.about-tagline-author {
  font-family: "AvenirBold";
  font-size: 12px;
  line-height: 22px;
  margin-bottom: $pixel-40;
}

.about-story {
  @include tablet {
    display: flex;
  }

  &__text {
    font-size: "AvenirUltraThin";
    margin-top: $pixel-24;
    margin-right: 0px;
    line-height: 22px;
    font-size: 0.83em;
    @include tablet {
      display: flex;
      width: 50%;
      flex-direction: row;
      font-size: 0.89em;
    }
  }
  &__text-2 {
    margin-bottom: $pixel-40;
    @include tablet {
      display: flex;
      margin-left: 24px;
    }
  }
}

.gallery {
  background-color: $alabaster;
  @include mobile-padding;
  padding-bottom: $pixel-40;
  @include tablet {
    @include tablet-padding;
  }
  &__image {
    padding-bottom: $pixel-16;
    @include tablet {
      display: inline-flex;
      flex-wrap: wrap;
      margin-right: 0px;
      width: 32%;
      height: 32%;
    }
  }
}

.gallery-colummn {
  // flex-grow: (1 0 30%);
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // align-content: center;
    // margin-right: 0px;
  }
}

//FOOTER SECTION
.footer {
  background-color: $black;
  color: $white;
  @include mobile-padding;
  font-family: "AvenirBold";
  font-size: 0.8em;
}

.booking__heading-4 {
  font-family: "AvenirRegular";
  line-height: 20px;
}

.footer-logo {
  display: none;
  @include tablet {
    display: flex;
  }
}

.social {
  &__list {
    display: flex;
    padding-bottom: $pixel-24;
    align-items: center;
  }
}

.social-link {
  width: inherit;
}

.social-menu {
  width: 12%;
  margin-right: 35px;
  @include tablet {
    width: 7%;
  }
}

.social-menu-fb {
  width: 7%;
  box-sizing: content-box;
}

//1. fix footer, fix nav mobile
.booking {
  &__text {
    padding-top: $pixel-24;
    &--bold {
      font-family: "AvenirDemi";
    }
  }
}

.booking-copyright {
  width: 70%;
  padding-top: $pixel-24;
}

@include tablet {
  .footer-nav-bar {
    display: flex;
  }
}
.footer {
  &__column {
    @include tablet {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-right: 0px;
    }
  }
}

@include tablet {
  .booking-column {
    display: inline-flex;
    flex-wrap: wrap;
    padding-right: 0px;
  }
}
