// EULA BENGCO SCSS FILE

@import "./partials/fonts";
@import "./partials/colors";
@import "./partials/variables";
@import "./partials/mixins";

// so that the border, padding, and margin takes up the width set on the screen
*,
*::before,
*::after {
  box-sizing: border-box;
}

//remove browser's margin, and padding settings, text global font is $black
*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: "AvenirRegular", sans-serif;
  width: 100%;
  margin-right: 0px;
  // overflow-x: hidden;
}

ul {
  li {
    list-style: none;
  }
}

//HEADER
.header {
  display: flex;
  background-color: $black;
  width: auto;
  justify-content: center;
  flex-direction: column;
  width: auto;
  height: 80px;
  margin: 0;
  padding: 0;
  align-items: center;
  @include tablet {
    flex-direction: row;
    justify-content: left;
    align-content: flex-start;
  }
  @include desktop {
    align-items: left;
    position: absolute;
    width: 100%;
  }
}

.header-name {
  padding-bottom: 10px;
  @include tablet {
    width: 30%;
    margin-left: $margin-tablet;
  }
  @include desktop {
    width: 150px;
    margin-left: $margin-desktop;
    margin-right: 0px;
  }
}

.header-logo {
  box-sizing: content-box;
  display: flex;
  margin: 0px auto;
  align-self: center;
  height: 20px;
  padding-top: 10px;
  padding-bottom: 0px;
  @include tablet {
    display: flex;
    height: 24px;
    width: auto;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-top: 0px;
  }
  @include desktop {
    justify-self: left;
    margin-right: 0px;
    padding-right: 0px;
    margin: 0px;
  }
}

.header-nav {
  display: flex;
  width: 100%;
  margin-top: 0px;
  @include tablet {
    width: 70%;
    margin-left: 0px;
    margin-top: 10px;
  }
  @include desktop {
    display: flex;
    margin-top: 30px;
  }
}

.header {
  &__list {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    font-size: 17px;
    margin-top: 0px;
    @include tablet {
      padding-left: 0px;
      padding-top: 20px;
      margin-left: 0px;
      justify-content: left;
    }
    @include desktop {
      justify-content: left;
      padding-left: 0px;
      padding-top: 0px;
    }
  }
  &__item {
    box-sizing: content-box;
    display: flex;
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: $silver;

    @include tablet {
      box-sizing: border-box;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-top: 0px;
      margin-right: 0px;
      margin-left: 0px;
      width: auto;
      padding-left: 0px;
    }
    @include desktop {
      padding-left: 60px;
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }
}

.header {
  &__link {
    &:hover {
      color: lightcoral;
    }
    &--active {
      color: white;
      border-bottom: solid 5px $white;
      padding-bottom: 13px;
      overflow-x: hidden;
      @include tablet {
        padding-bottom: 23px;
      }
      @include desktop {
        width: 85px;
        padding-bottom: 0px;
      }
    }
    &--normal {
      border-bottom: solid 5px transparent;
      padding-bottom: 11px;
      @include tablet {
        margin-left: 80px;
        padding-bottom: 23px;
      }
      @include desktop {
        margin-left: 0px;
      }
    }
  }
}

//HERO SECTION
.hero {
  background-image: url("./assets/Images/Hero-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  min-height: 183px;
  width: 100%;
  height: 60vw;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  @include tablet {
    height: 70vw;
  }
  @include desktop {
    position: relative;
    height: 70vw;
    top: 80px;
  }
}

.hero-title {
  display: flexbox;
  font-family: "AvenirBold";
  color: $white;
  @include mobile-padding;
  align-items: center;
  width: 70%;
  font-size: 1.4rem;
  align-self: center;
  position: relative;
  z-index: 2;
  @include tablet {
    font-size: 4.2rem;
    width: 85%;
    padding-left: $margin-tablet;
  }
  @include desktop {
    font-size: 4.6rem;
    padding-left: $margin-desktop;
    width: 75%;
  }
}

.about {
  color: $black;
  @include mobile-padding;
  background-color: $white;
  position: relative;

  @include tablet {
    padding-left: $margin-tablet;
    padding-right: $margin-tablet;
  }
  @include desktop {
    top: 80px;
    padding-left: $margin-desktop;
    padding-right: $margin-desktop;
  }
}

.heading-2 {
  font-family: "AvenirBold";
  font-size: 1.4rem;
  line-height: 32px;
  margin-top: $pixel-32;
  margin-bottom: $pixel-24;
  position: relative;

  @include tablet {
    font-size: 1.6rem;
  }
  @include desktop {
    font-size: 2rem;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.about-image {
  display: flex;
  position: relative;
  @include desktop {
    margin-left: $pixel-56;
    margin-right: $pixel-56;
    max-width: 95%;
  }
}

.about-tagline {
  font-family: "AvenirMedium";
  font-size: 1.35rem;
  line-height: 20px;
  margin-top: $pixel-24;
  margin-bottom: $pixel-32;
  @include tablet {
    font-family: "AvenirBold";
    box-sizing: content-box;
    font-weight: 100;
    font-size: 1.4rem;
    line-height: 32px;
    height: max-content;
    width: 90%;
  }
  @include desktop {
    padding-left: $pixel-56;
    width: 80%;
  }
}

//Used by the story header
.heading-3 {
  font-family: "AvenirDemi";
  font-size: 1.08rem;
  line-height: 24px;
  @include tablet {
    font-size: 1.3rem;
  }
  @include desktop {
    padding-left: $pixel-56;
    font-size: 1.9rem;
    padding-top: $pixel-24;
    padding-bottom: $pixel-16;
  }
}

.about-tagline-author {
  font-family: "AvenirBold";
  font-size: 12px;
  line-height: 22px;
  margin-bottom: $pixel-40;
  @include desktop {
    padding-left: $pixel-56;
    font-size: 1.2rem;
  }
}

.about-story {
  @include tablet {
    display: flex;
  }

  &__text {
    font-size: "AvenirUltraThin";
    margin-top: $pixel-24;
    margin-right: 0px;
    line-height: 22px;
    font-size: 0.83rem;
    @include tablet {
      display: flex;
      width: 50%;
      flex-direction: row;
      font-size: 0.89rem;
    }
    @include desktop {
      padding-left: $pixel-56;
      padding-bottom: 0px;
    }
  }
  &__text-2 {
    margin-bottom: $pixel-40;
    @include tablet {
      display: flex;
      margin-left: 24px;
    }
  }
}

.gallery {
  background-color: $alabaster;
  @include mobile-padding;
  padding-bottom: $pixel-40;
  @include tablet {
    padding-left: $margin-tablet;
    padding-right: $margin-tablet;
  }
  @include desktop {
    padding-top: $pixel-24;
    padding-left: $margin-desktop;
    padding-right: $margin-desktop;
    margin-bottom: $pixel-24;
    position: relative;
    top: 80px;
  }
  &__image {
    padding-bottom: $pixel-16;
    @media screen and (min-width: 600px) and (max-width: 768px) {
      display: inline-flex;
      // flex-wrap: wrap;
      flex-flow: row wrap;
      width: 45%;
      height: 45%;
    }
    @include tablet {
      display: inline-flex;
      flex-wrap: wrap;
      margin-right: 0px;
      padding-bottom: $pixel-24;
      width: 32%;
      height: 32%;
    }

    @include desktop {
      margin-right: 0px;
      padding-right: 0px;
    }
    &:hover {
      filter: grayscale(30%);
    }
  }
}

.gallery-colummn {
  // flex-grow: (1 0 30%);
  @media screen and (min-width: 600px) and (max-width: 768px) {
    text-align: center;
  }
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // align-content: center;
    // margin-right: 0px;
  }
}

//FOOTER SECTION
.footer {
  background-color: $black;
  color: $white;
  @include mobile-padding;
  position: relative;
  font-size: 0.8rem;
  @include tablet {
    display: flex;
    font-size: 0.9rem;
  }
  @include desktop {
    padding-left: $margin-desktop;
    padding-right: $margin-desktop;
    font-size: 1rem;
    top: 80px;
  }
}

.footer {
  &__header {
    padding-top: $pixel-24;
    font-size: 1.4rem;
    @include tablet {
      font-size: 1.8rem;
      width: 500px;
    }
    @include desktop {
      font-size: 2.3rem;
    }
  }
}

.footer-logo {
  display: none;
  @include tablet {
    display: flex;
    height: 20px;
    align-self: center;
    width: auto;
  }
  @include desktop {
    width: 120px;
  }
}

.footer {
  &__right {
    width: 40%;
    @include tablet {
      justify-content: flex-end;
    }
    @include desktop {
      width: 23%;
    }
  }
}

.social {
  &__list {
    display: flex;
    padding-bottom: $pixel-24;
    align-items: center;
    @include tablet {
      padding-top: 15px;
    }
    @include desktop {
      padding-left: 0px;
    }
  }
}

.social-link {
  width: inherit;
  align-content: center;
}

.social-menu {
  width: 7%;
  margin-right: 35px;
  @include tablet {
    width: 7%;
    align-self: center;
    padding-top: 25px;
  }
  @include desktop {
    width: 5%;
  }
}

.social-menu-fb {
  width: 4%;
  box-sizing: content-box;
  @include tablet {
    width: 4%;
  }
  @include desktop {
    width: 3%;
  }
}

.booking {
  &__text {
    padding-top: $pixel-24;
    @include tablet {
      padding-top: 0px;
    }
    &--bold {
      font-family: "AvenirDemi";
    }
  }
}

@include tablet {
  .footer-nav-bar,
  .footer__left,
  .footer__right {
    display: flex;
  }
  .booking-row {
    padding-bottom: $pixel-16;
  }

  .footer {
    &__column {
      @include tablet {
        display: flex;
        flex-wrap: wrap;
        padding-right: 0px;
      }
    }
  }

  .booking-column {
    @include tablet {
      display: flex;
      flex-wrap: wrap;
      padding-right: 0px;
      margin-right: 0px;
      width: 30%;
    }
  }
}

.booking-email {
  &:hover,
  &:any-link,
  &:visited {
    text-decoration: none;
    color: $white;
  }
}

.booking-copyright {
  width: 70%;
  padding-top: $pixel-24;
  padding-bottom: $pixel-24;

  @include tablet {
    font-size: 0.8rem;
  }
  @include desktop {
    font-size: 0.9rem;
  }
}
