// *,
// *::before,
// *::after {
//   box-sizing: border-box;
// }

@charset 'utf-8';

@import "./partials/fonts";
@import "./partials/colors";
@import "./partials/variables";
@import "./partials/mixins";

//remove browser's margin, and padding settings, text global font is $black
*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: "AvenirRegular", sans-serif;
  width: 100%;
  margin-right: 0px;
  overflow-x: hidden;
}

ul {
  li {
    list-style: none;
  }
}

//HEADER
.header {
  display: flex;
  background-color: $black;
  width: auto;
  flex-grow: 1;
}

.header__link,
.header__link:hover,
.header__link:visited {
  font-family: "AvenirRegular", sans-serif;
  color: $white;
}

.header {
  justify-content: center;
  flex-direction: column;
  display: flex;
  height: 80px;
}

.header-logo {
  display: flex;
  // margin: 0px auto;
  align-self: center;
  // padding-bottom: $padding-16;
  height: 24px;
}

.header-nav {
  display: flex;
  width: 100%;
  margin-top: 0px;
  overflow-x: auto;
}

.header {
  &__list {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
  }
  &__item {
    display: flex;
    width: 50%;
    min-width: 160px;
    text-align: center;
    padding-bottom: 18px;
    margin-bottom: 0px;
    &--active {
      border-bottom: solid 5px $white;
    }
  }
}

//HERO SECTION
.hero {
  background-image: url("./assets/Images/Hero-image.jpg");
  transition: transform 0.5s ease;
  // height: 183px;
  // width: 100vw;
}

.hero-title {
  font-family: "AvenirBold";
  font-size: 60px;
  line-height: 68px;
  color: $white;
}

//ABOUT SECTION
.about {
  color: $black;
}
.heading-2 {
  font-family: "AvenirBold";
  font-size: 30px;
  line-height: 32px;
}

.about-image {
}

.about-tagline {
  font-family: "AvenirMedium";
  font-size: 16px;
  line-height: 22px;
}

.heading-3 {
  font-family: "AvenirBold";
  font-size: 18px;
  line-height: 24px;
}

.about-tagline-author {
  font-family: "AvenirBold";
  font-size: 12px;
  line-height: 22px;
}

.gallery {
  background-color: $alabaster;
}

//PHOTO GALLERY

//FOOTER SECTION
.footer {
  background-color: $black;
  color: $white;
}

.booking__heading-4 {
  font-family: "AvenirRegular";
  font-size: 14px;
  line-height: 20px;
  font-weight: bolder;
}

.booking {
  &__text {
    // font-family: "AvenirLight";
    // font-size: 12px;
    // line-height: 20px;
    &--bold {
      // font-family: "AvenirBold";
      // font-size: 12px;
      // line-height: 20px;
    }
  }
}

//MOBILE
@media screen and (max-width: 768px) {
  .header {
    justify-content: center;
    flex-direction: column;
    display: flex;
    width: auto;
    margin: 0;
    padding: 0;
  }
  .header-logo {
    display: flex;
    // margin: 0px auto;
    align-self: center;
    padding-bottom: $padding-16;
    height: 7.5vw;
    padding-top: 8px;
    padding-bottom: 14px;
  }
  .header-nav {
    display: flex;
    width: 100%;
    margin-top: 0px;
    overflow: hidden;
  }
  .header {
    &__list {
      display: flex;
      align-content: center;
      justify-content: space-evenly;
    }
    &__item {
      display: flex;
      width: 50%;
      min-width: 160px;
      text-align: center;
      padding-bottom: 8px;
      margin-top: 0px;
      margin-bottom: 0px;
      font-size: 1em;
      &--active {
        font-weight: 400;
        border-bottom: solid 5px $white;
      }
    }
  }
  //HERO SECTION
  .hero {
    display: flex;
    height: 183px;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    padding: 0px $padding-16;
  }
  .hero-title {
    display: inline-block;
    font-size: 24px;
    line-height: 32px;
    color: $white;
    width: 202px;
  }
  .heading-2 {
    padding-top: $padding-32;
    margin-bottom: $padding-24;
    font-size: 24px;
  }

  .about {
    padding: 0 $padding-16;
    height: 100%;
  }

  .about-image {
    width: 288px;
    margin-top: 0px;
    margin-bottom: 24px;
  }
  .about-tagline {
    display: flex;
    font-family: "AvenirRegular";
    padding-right: 32px;
    line-height: 20px;
    width: auto;
  }
  .about-tagline-author {
    display: flex;
    padding-top: $padding-32;
    margin-right: $padding-16;
    // padding-bottom: $padding-40;
    font-family: "AvenirRegular";
  }

  .about-story {
    margin-right: $padding-16;
    width: 100%;
    &__text {
      font-size: 14px;
      line-height: 20px;
      padding-right: 16px;
    }
  }

  .gallery-column {
    padding-right: 16px;
  }
  .gallery {
    padding: 0px $padding-16;
    &__image {
      padding-bottom: $padding-16;

      min-width: 288px;
    }
  }
  .footer {
    display: flex;
    padding-left: $padding-16;
  }

  .social {
    &__list {
      display: flex;
      max-height: 40px;
    }
  }
  .social-menu {
    height: auto;
    width: 40px;
    display: flex;
  }
  .social-menu-fb {
  }

  .footer-logo {
    visibility: hidden;
  }
  .booking {
    &__heading-4 {
      display: flex;
    }
    &__text {
      display: flex;
      padding-top: $padding-16;
      &--bold {
        // font-size: 12px;
        line-height: 20px;
        font-weight: 300;
      }
    }
  }
  .booking-copyright {
    width: 65%;
    padding-top: $padding-40;
    padding-bottom: $padding-40;
  }
}

//TABLET
@include tablet {
  html {
    padding: 0px;
    margin-right: 0px;
    display: flex;
  }
  .header {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 80px;
  }
  .header-logo {
    display: flex;
    height: 20px;
    width: 20%;
    margin-right: 0px;
    margin-left: 0px;
  }
  .header-nav {
    display: flex;
    width: 80%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .header {
    &__list {
      width: 40%;
    }
    &__link {
      width: 50px;
    }
  }
  .hero {
    height: 400px;
  }
}

//DESKTOP
@include desktop {
  .header {
  }
  .hero {
    min-height: 670px;
  }
}
