// EULA BENGCO Paddings for BANDSITE

//PADDING
$padding-4: 4px;
$padding-8: 4px;
$padding-16: 4px;
$padding-: 4px;
$padding-4: 4px;
$padding-4: 4px;
$padding-4: 4px;
$padding-4: 4px;
$padding-4: 4px;
$padding-4: 4px;
