// EULA BENGCO Paddings for BANDSITE

//PADDING
$pixel-4: 4px;
$pixel-8: 8px;
$pixel-16: 16px;
$pixel-24: 24px;
$pixel-32: 32px;
$pixel-40: 40px;
$pixel-48: 48px;
$pixel-56: 56px;
$pixel-64: 64px;
$pixel-80: 80px;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1200px;

$margin-desktop: 140px;
$margin-tablet: 24px;

// DIVIDER
// DESK 1080px 1px
// TABLET 720px 1px
// MOBILE 288px 1px

// ABOUT IMAGES desk 896px x450px
// ABOUT IMAGES tablet 720px 362px
// ABOUT MOBILE 288px 145px
// GRID desk 193px x 344px tablet 224px x 126px mobile 162px 288px
