// EULA BENGCO Paddings for BANDSITE

//PADDING
$pixel-4: 4px;
$pixel-8: 8px;
$pixel-16: 16px;
$pixel-24: 24px;
$pixel-32: 32px;
$pixel-40: 40px;
$pixel-48: 48px;
$pixel-56: 56px;
$pixel-64: 64px;
$pixel-80: 80px;
$pixel-96: 96px;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1200px;

$margin-desktop: 140px;
$margin-tablet: 24px;
