@import "./partials/fonts";
@import "./partials/colors";
@import "./partials/variables";
@import "./partials/mixins";

.hero {
  background-image: url("../assets/Images/Show-image.jpg");
  min-height: 472px;
  flex-direction: column;
  @include mobile-padding;
  display: flex;
  @include tablet {
    min-height: 670px;
  }
}

.hero {
  &__text {
    display: flex;
    position: relative;
    flex-direction: column;
    padding-top: $pixel-64;
    padding-bottom: $pixel-64;
    @include tablet {
      padding-top: 0px;
      padding-bottom: 0px;
      display: flex;
    }
  }
}

.hero-tagline {
  display: flex;
  font-family: "AvenirRegular";
  color: $white;
  position: relative;
  order: 2;
  padding-bottom: 8px;
  // align-items: center;
  // width: 70%;
  // font-size: 0.9rem;
  // align-self: center;
  // padding-top: $pixel-64;
  @include tablet {
    font-size: 2.4rem;
    width: 85%;
    padding-left: $margin-tablet;
    font-family: "AvenirBold";
    @include tablet {
      padding-top: $pixel-96;
    }
  }
  // @include desktop {
  //   font-size: 4.6rem;
  //   padding-left: $margin-desktop;
  //   width: 75%;
  // }
}

.hero-title {
  display: flexbox;
  font-family: "AvenirBold";
  color: $white;
  position: relative;
  order: 2;
  padding-right: 0px;
  padding-left: 0px;
  align-items: left;
  align-self: left;
  width: 95%;
  @include tablet {
    font-size: 4rem;
    width: 85%;
    padding-left: $margin-tablet;
  }
  @include desktop {
    font-size: 4.6rem;
    padding-left: $margin-desktop;
    width: 75%;
  }
}

.hero-music {
  display: flex;
  position: relative;
  // background-color: blue;
  // width: 288px;
  width: 100%;
  height: 40vw;
  // desktop
  // width: 436px;
  // height: 146px;
  @include tablet {
    display: flex;
    align-self: flex-start;
    width: 60%;
    height: 20vw;
    margin-left: $pixel-24;
    padding-top: $pixel-32;
  }
}

.cookiePolicy.sc-background-light,
#aria-hidden {
  display: none;
}

.compactSound.g-box-full.g-background-default.state-medium {
  width: 90%;
}

// .widget {
//   height: 90%;
// }

//SHOWS LAYOUT
.shows {
  // display: flex;
  position: relative;
  padding: $pixel-32 $pixel-16;
}
.shows-table-main {
  // display: flex;
  position: relative;
  margin-bottom: 0px;
}

.shows-container {
  // display: flex;
  position: relative;
  border-bottom: 2px $mercury solid;
}
//<h5 class="shows-table-main shows-table shows__title">
.shows {
  &__heading {
    margin-top: 0px;
    margin-bottom: 40px;
  }
  &__title {
    color: $silver;
    font-size: 1.1rem;
    line-height: 20px;
    margin-bottom: $pixel-16;
    margin-top: $pixel-24;
  }
  &__text {
    font-family: "AvenirLight";
    font-size: 1.2rem;
    line-height: 18px;
    margin-bottom: $pixel-32;
    &--bold {
      font-family: "AvenirMedium";
      font-size: 1.2rem;
      line-height: 22px;
      margin-bottom: $pixel-24;
    }
  }
}

.shows {
  &__table {
    display: flex;
    &active {
      display: flex;
    }
    &--hide {
      @include tablet {
        display: none;
      }
    }
  }
}
