// EULA BENGCO BIOGRAPHY FILE

@import "./partials/fonts";
@import "./partials/colors";
@import "./partials/variables";
@import "./partials/mixins";

.header {
  &__link {
    text-decoration: none;
    &--active {
      color: white;
      border-bottom: solid 5px $white;
      padding-bottom: 13px;
      overflow-x: hidden;
      @include tablet {
        padding-bottom: 23px;
      }
      @include desktop {
        width: 85px;
        padding-bottom: 0px;
      }
    }
    &--normal {
      border-bottom: solid 5px transparent;
      padding-bottom: 11px;
      color: $silver;
      @include tablet {
        margin-left: 80px;
        padding-bottom: 23px;
      }
      @include desktop {
        margin-left: 0px;
      }
    }
  }
}

//HERO SECTION
.hero {
  background-image: url("../assets/Images/Hero-image.jpg");
}
.hero-title {
  display: flexbox;
  font-family: "AvenirBold";
  color: $white;
  position: relative;
  order: 2;
  @include mobile-padding;
  align-items: center;
  width: 70%;
  font-size: 1.4rem;
  align-self: center;
  position: relative;
  @include tablet {
    font-size: 4.2rem;
    width: 85%;
    padding-left: $margin-tablet;
  }
  @include desktop {
    font-size: 4.6rem;
    padding-left: $margin-desktop;
    width: 75%;
  }
}

.about {
  color: $black;
  @include mobile-padding;
  background-color: $white;
  position: relative;

  @include tablet {
    padding-left: $margin-tablet;
    padding-right: $margin-tablet;
  }
  @include desktop {
    top: 80px;
    padding-left: $margin-desktop;
    padding-right: $margin-desktop;
  }
  &__title {
    @include heading-2;
  }
  &__sub-title {
    @include heading-3;
  }
  &__image {
    display: flex;
    position: relative;
    @include desktop {
      margin-left: $pixel-56;
      margin-right: $pixel-56;
      max-width: 95%;
    }
  }
  &__tagline {
    font-family: "AvenirMedium";
    font-size: 1rem;
    line-height: 22px;
    margin-top: $pixel-24;
    margin-bottom: $pixel-32;
    height: 100%;
    @include tablet {
      font-family: "AvenirBold";
      box-sizing: content-box;
      font-weight: 100;
      font-size: 1.4rem;
      line-height: 32px;
      height: max-content;
      width: 90%;
    }
    @include desktop {
      padding-left: $pixel-56;
      width: 80%;
    }
  }
  &__author {
    font-family: "AvenirMedium";
    margin-bottom: $pixel-32;
    @include desktop {
      padding-left: $pixel-56;
    }
  }
}

.about-story {
  @include tablet {
    display: flex;
  }
  &__text {
    font-size: "AvenirUltraThin";
    margin-top: $pixel-24;
    margin-right: 0px;
    line-height: 22px;
    font-size: 0.83rem;
    @include tablet {
      display: flex;
      width: 50%;
      flex-direction: row;
      font-size: 0.89rem;
    }
    @include desktop {
      padding-left: $pixel-56;
      padding-bottom: 0px;
    }
  }
  &__text-2 {
    margin-bottom: $pixel-40;
    @include tablet {
      display: flex;
      margin-left: 24px;
    }
  }
}

//GALLERY SECTION
.gallery {
  background-color: $alabaster;
  @include mobile-padding;
  padding-bottom: $pixel-40;
  @include tablet {
    padding-left: $margin-tablet;
    padding-right: $margin-tablet;
  }
  @include desktop {
    padding-top: $pixel-24;
    padding-left: $margin-desktop;
    padding-right: $margin-desktop;
    margin-bottom: $pixel-24;
    position: relative;
    top: 80px;
    margin-bottom: 0px;
  }
  &__title {
    @include heading-2;
    padding-top: $pixel-24;
  }
  &__image {
    padding-bottom: $pixel-16;
    filter: grayscale(100%);
    @media screen and (min-width: 600px) and (max-width: 768px) {
      display: inline-flex;
      flex-flow: row wrap;
      width: 45%;
      height: 45%;
    }
    @include tablet {
      display: inline-flex;
      flex-wrap: wrap;
      margin-right: 0px;
      padding-bottom: $pixel-24;
      width: 32%;
      height: 32%;
    }

    @include desktop {
      margin-right: 0px;
      padding-right: 0px;
    }
    &:hover {
      filter: none;
    }
  }
}

.gallery-colummn {
  @media screen and (min-width: 600px) and (max-width: 768px) {
    text-align: center;
  }
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

//COMMENTS SECTION
.comment {
  // @include tablet {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  // }
  &__section {
    width: 100%;
    padding-left: $pixel-16;
    @include tablet {
      display: flex;
      padding-right: $pixel-24;
      padding-left: $pixel-24;
      margin-bottom: $pixel-24;
      flex-direction: column;
    }
    @include desktop {
      position: relative;
      display: flex;
      margin-bottom: $pixel-32;
      padding-left: 0px;
      top: 80px;
      padding-right: $pixel-24;
      padding-left: $pixel-24;
    }
  }
  &__title {
    @include heading-2;
    @include desktop {
      display: flex;
      margin-left: $margin-desktop;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__date {
    @include date-comment-style;
    @include desktop {
      text-align: left;
    }
  }
  &__label {
    @include heading-5;
  }
  &__wrapper {
    display: flex;
    margin-bottom: $pixel-16;
    border-bottom: 2px $mercury solid;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    width: 100%;
    @include tablet {
      width: 525px;
      padding-right: 0px;
    }
    @include desktop {
      width: 528px;
      padding-right: 0px;
    }
  }
  &__left {
    width: 20%;
    margin-right: 0px;
    @include tablet {
      width: 15%;
    }
  }
  &__photo {
    background-color: $mercury;
    color: $mercury;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0px solid $white;
    margin-top: 10px;
  }

  &__right-top {
    display: flex;
    align-items: center;
    @include tablet {
      width: 422px;
    }
    @include desktop {
      width: 460px;
    }
  }
  &__right {
    width: 79%;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 16px;
    @include tablet {
      width: 525px;
      margin-right: 0px;
      padding: 0px;
      align-items: flex-end;
      text-align: end;
    }
    @include desktop {
      width: 528px;
      margin-right: 0px;
      padding: 0px;
      align-items: flex-end;
      text-align: end;
    }
  }
  &__full-name {
    width: 60%;
    font-family: "AvenirDemi";
    @include tablet {
      text-align: left;
    }
    @include desktop {
      width: fit-content;
      margin-right: 10px;
    }
  }
  &__comment {
    @include default-comment-style;
    @include tablet {
      width: 422px;
      text-align: left;
    }
    @include desktop {
      min-width: 460px;
      display: flex;
      flex-direction: column;
      text-align: left;
    }
  }
}

#comment {
  &__form {
    display: flex;
    @include tablet {
      justify-content: center;
    }
  }
}

.new-comment {
  &__wrapper {
    display: flex;
    margin-bottom: $pixel-16;
    border-bottom: 2px $mercury solid;
    margin-right: 0px;
    width: 100%;
    @include tablet {
      width: 525px;
      padding-right: 0px;
    }
    @include desktop {
      width: 528px;
      padding-right: 0px;
    }
  }
  &__photo {
    background-color: $mercury;
    color: $mercury;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0px solid $white;
    margin-top: 50px;
    margin-right: 10px;
    @include tablet {
      margin-right: 0px;
    }
  }
  &__name {
    display: flex;
    flex-direction: column;
    @include tablet {
      width: 422px;
      text-align: left;
    }
    @include desktop {
      min-width: 460px;
    }
  }
  &__comment {
    display: flex;
    flex-direction: column;
    @include tablet {
      text-align: left;
      width: 422px;
    }
    @include desktop {
      text-align: left;
      min-width: 460px;
    }
  }
  &__submit {
    width: 224px;
    @include tablet {
      width: 160px;
      align-self: flex-end;
      margin-bottom: $pixel-24;
    }
  }
}

//FORM STYLINGS
.button,
.new-comment {
  &__submit {
    &:hover {
      background-color: black;
      outline-style: none;
      outline: transparent;
      outline-color: none;
      border: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }
}
.text,
.text-two {
  @include input-text-style;
}

input.text {
  padding-top: $pixel-8;
  padding-bottom: $pixel-8;
  color: $black;
  padding-left: $pixel-8;
}

textarea.text-two {
  padding-top: $pixel-8;
  top: 0px;
  color: $black;
  padding-left: $pixel-8;
}

input,
textarea {
  &:focus {
    border: 2px solid $black;
    appearance: none !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none !important;
    outline-color: transparent;
    overflow: auto;
  }
}
.text {
  @include tablet {
    align-self: flex-end;
  }
}
.text-two {
  height: 144px;
  @include tablet {
    margin-bottom: $pixel-24;
  }
}
